<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<style>
    .for{
       margin: 250px 800px;
    }

    p{
        margin: 7px 0px;
        font-size: 18px;
    }
</style>
<body>
<form method="post">
<div>
    <div class="for">
    <h1>Авторизация</h1>
    {% csrf_token %}
    <p>Логин</p>
    <input type="text" name="username">
    <p>Пароль</p>
    <input type="password" name="password"> <br>
    <button style="margin: 7px 45px; font-size: 17px; " type="submit">Войти</button> <br>
    <a style="text-decoration: none;" href="{% url 'reg' %}">Нет аккаунта? Зарегистрироваться</a>
    </div>
</div>
</form>

</body>
</html>